<template name="foto">

<div class="item">
  <a href="{{pathFor 'view'}}" style=" color:black" class="edit"> <center><img   src="{{Phkey}}" alt="First slide" height="250" width="400"/><h3 class="title">{{text}}</h3></center></a>
</div>


</template>
