<template name="Agb">
  <div class="container">
  <div class="row">
    <div class="col-lg-12">
    <br />

    <h1>Datenschutz</h1>
    <p style="margin-top:20px"><em><p>Den Schutz deiner persönlichen Daten nimmt Kubix sehr ernst. Im Folgenden wird erläutert, welche persönlichen Daten wir auf der Webseite "www.We-Resource.de" erheben, wie wir diese verwenden und wie wir deine Daten schützen. Zudem erfährst du, an wen wir diese Daten weitergeben und wie du deine Daten ändern kannst. Solltest du in diesem Zusammenhang Fragen haben, sende bitte eine E-Mail an die im Impressum angegebene Kontaktadresse. Änderungen der Datenschutzerklärung sind vorbehalten.</p></em></p>

    <h3>Gegenstand der Datenschutzerklärung</h3>
    <p><p>Diese Datenschutzerklärung gilt für alle Dienste, die unter der Domain „www.We-Resource.de“ angeboten werden und regelt somit ausschließlich, wie Kubix mit deinen personenbezogenen Daten umgeht. Für den Fall, dass du Leistungen Dritter in Anspruch nimmst, gelten ausschließlich die Datenschutzbedingungen dieser Dritten. Kubix überprüft die Datenschutzbedingungen Dritter nicht.</p></p>

    <h3>Datenerhebung und -verwendung</h3>
    <p><p>Der Aufruf und die Nutzung der Basisfunktionalitäten der Webseite sind grundsätzlich ohne Mitteilung personenbezogener Daten möglich. In anonymisierter Form werden allerdings bestimmte technische Informationen (IP-Adresse, Browser, Betriebssystem) sowie Bewegungsmuster auf der Webseite (Zeitpunkt aufgerufener Webseiten und Aktionen) erhoben und gespeichert. Dies wird teilweise durch den Dienst "Google Analytics" unterstützt. Diese Daten werden von Kubix nicht an Dritte weitergeben. Im Falle der Verfolgung von Verstößen gegen die AGB kann Kubix allerdings versuchen, einen Personenbezug herzustellen.</p><p>Zur Nutzung erweiterter Funktionalitäten der Webseite wie die längerfristige Speicherung deiner persönlichen Ankaufobjekte ist eine Registrierung notwendig. Im Zuge der Registrierung fragt Kubix personenbezogene Daten wie die Email-Adresse oder den Namen ab. Mit der Registrierung willigst du ein, dass Kubix die von dir angegebenen Daten speichern, verarbeiten und nutzen darf, z.B. zu Marketingzwecken. Dieser Einwilligung kann mit Wirkung für die Zukunft per Email oder Schreiben an die im Impressum angegebene Adressen widerrufen werden.</p><p>Alle über die Webseite erfassten personenbezogenen Daten speichert und verwendet Kubix im Einklang mit den Vorgaben des Bundesdatenschutzgesetzes und des Telemediengesetzes. Personenbezogene Daten werden grundsätzlich nicht an Dritte weitergegeben, es sei denn, du hast in die Weitergabe explizit eingewilligt oder wir sind gesetzlich zu einer Herausgabe der Daten verpflichtet.</p><p>Wird Kubix im Ganzen oder in Teilen an ein anderes Unternehmen veräußert, können die personenbezogenen Daten an das kaufende Übernehmen übergehen. </p></p>

    <h3>Auskunfts- und Berichtigungsrecht, Recht auf Widerruf</h3>
    <p><p>Du hast das Recht, von Kubix auf Antrag Auskunft über die zu deiner Person gespeicherten Daten zu erhalten. Du kannst ebenfalls eine Richtigstellung oder Löschung deiner Daten erwirken, oder deine Einwilligung in die Datenschutzerklärung mit Wirkung für die Zukunft widerrufen. Wende dich dazu bitte per Email oder in Schriftform an die im Impressum angegebene Adresse.</p></p>

    <h3>Datenlöschung</h3>
    <p><p>Soweit deine Daten für die vorgenannten Zwecke nicht mehr erforderlich sind, werden sie gelöscht. Soweit Daten aus steuerrechtlichen Gründen aufbewahrt werden müssen, werden diese gesperrt. Diese Daten stehen einer weiteren Verwendung dann nicht mehr zur Verfügung.</p></p>

    <h3>Newsletter</h3>
    <p><p>Mit der Registrierung bei Kubix erklärt sich der Nutzer damit einverstanden, dass Kubix ihm Informationen zu interessanten Angeboten und Dienstleistungen, insbesondere zu Neuheiten und Aktionen per E-Mail übermittelt. Die Einhaltung der gesetzlichen Vorschriften zum Schutz personenbezogener Daten des Nutzers wird in jedem Fall gewährleistet. Das Einverständnis kann jederzeit gegenüber Kubix, schriftlich an die im Impressum angegebene Adresse, oder am Ende jedes Newsletters widerrufen werden. Widerruft der Nutzer sein Einverständnis, findet eine Datennutzung insoweit nicht statt. Die Leistungen von Kubix werden unabhängig davon erbracht. </p></p>

    <h3>Cookies</h3>
    <p><p>Kubix verwendet Cookies, um bestimmte Funktionalitäten der Webseite umzusetzen. Cookies sind kleine Textdateien, die eine Wiedererkennung des Nutzers ermöglichen. Cookies werden nach Ende deines Besuchs auf Kubix in der Regel automatisch von deiner Festplatte gelöscht. Manche Cookies bleiben aber auch auf deinem Rechner, so dass du bei deinem nächsten Besuch der Internet-Plattform wieder erkannt werden kannst. Du kannst deinen Browser so konfigurieren, dass er keine Cookies mehr akzeptiert. Dadurch kann der Service von Kubix nur noch eingeschränkt oder gar nicht mehr nutzbar sein.</p></p>

    <h3>Google Analytics</h3>
    <p><p>Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. ("Google"). Google Analytics verwendet sog. "Cookies", Textdateien, die auf deinem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch du ermöglichen. Die durch den Cookie erzeugten Informationen über deine Benutzung dieser Website (einschließlich deiner IP-Adresse) wird an einen Server von Google in den USA übertragen und dort gespeichert. Google wird diese Informationen benutzen, um deine Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten für die Websitebetreiber zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen zu erbringen. Auch wird Google diese Informationen gegebenenfalls an Dritte übertragen, sofern dies gesetzlich vorgeschrieben oder soweit Dritte diese Daten im Auftrag von Google verarbeiten. Google wird in keinem Fall deine IP-Adresse mit anderen Daten von Google in Verbindung bringen. Du kannst die Installation der Cookies durch eine entsprechende Einstellung deiner Browser Software verhindern; wir weisen dich jedoch darauf hin, dass du in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich nutzen kannst. Durch die Nutzung dieser Website erklärst du dich mit der Bearbeitung der über dich erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden.</p></p>

    <p style="margin-top: 40px"><strong>Stand: 12.09.2013</strong></p>

  </div>
</div>
</div>

</template>
