<template name="FAQ">
  <div class="container">
  <div class="row">
    <div class="col-lg-12">
    <br />

    <h1>FAQ</h1>
    <p style="margin-top:20px"><em><p>Den Schutz deiner persönlichen Daten nimmt Kubix sehr ernst. Im Folgenden wird erläutert, welche persönlichen Daten wir auf der Webseite "www.We Resource.de" erheben, wie wir diese verwenden und wie wir deine Daten schützen. Zudem erfährst du, an wen wir diese Daten weitergeben und wie du deine Daten ändern kannst. Solltest du in diesem Zusammenhang Fragen haben, sende bitte eine E-Mail an die im Impressum angegebene Kontaktadresse. Änderungen der Datenschutzerklärung sind vorbehalten.</p></em></p>

    <h3>Ist die App/Webseite kostenlos nutzbar?</h3>
    <p>Ja, jeder der Lust hat kann sowohl die App als auch die Webseite jederzeit kostenlos nutzen.</p>

    <h3>Wer kann die App bzw. die Webseite nutzen?</h3>
    <p>Die App kann ausschließlich von Firmenmitarbeitern genutzt werden. Die Webseite im Gegenzug kann auch von Privatpersonen genutzt werden. Für beide Benutzergruppen ist allerdings eine Registrierung nötig.</p>

    <h3>Was passiert mit meinen Kundendaten?</h3>
    <p>Als Privatperson werden Ihre persönlichen Informationen von uns ausschließlich in Verbindung mit dem Kundenkonto genutzt. Als Firmenmitarbeiter können die Adressdaten der Firma in der Abholadresse öffentlich auftauchen. Es werden von uns keine Daten an dritte weitergegeben.</p>

    <h3>Wie kann ich auf die Inhalte der Seite zugreifen?</h3>
    <p>Bevor sie die Seite nutzen können müssen Sie sich über die Registerkarte „Registrieren“ zuerst ein Benutzerkonto erstellen. Anschließend können Sie alle Inhalte der Seite nutzen.</p>

    <h3>Wer ist verantwortlich für die eingestellten Artikel?</h3>
    <p>Für die eingestellten Artikel ist ausschließlich der Ersteller bzw. die zugehörige Firma verantwortlich. Allerdings halten wir uns offen, unangebrachte Inhalte ohne Warnung zu löschen.</p>

    <h3>Ist die App auch online (in einem Appstore) verfügbar?</h3>
    <p>Nein, die App wird ausschließlich von der Firma Kubix GmbH bzw. deren Partnern vergeben. Eine unrechtmäßiger Erwerb der App wird von uns geahndet.  </p>

    <h3>Wofür steht Waste/Resource?</h3>
    <p>In unserem Fall steht Waste für die Erstellung eines Artikels mit Hilfe der App. Resource beschreibt die Artikelsuche.</p>

    <h3>Muss ich zur Benutzung der App online sein?</h3>
    <p>Um Angebote zu erstellen müssen Sie nicht online sein. Um diese aber online verfügbar machen zukönnen, ist eine Internetverbindung nötig. </p>


    <p style="margin-top: 40px"><strong>Stand: 12.09.2013</strong></p>

  </div>
</div>
</div>

</template>
