<template name="Impressum">
  <div class="container">
  <div class="row">

  <div class="col-lg-12">
    <div class="container" style="margin-top: 30px">
<h1>Impressum</h1>
<p>
Hinweise gem. § 5 des Telemediengesetzes (TMG) in der Fassung vom 26.02.2007 <br/>

<br/>
Diese Website www.We Resource.de wird Ihnen bereitgestellt von: <br/>
<br />
<b>Kubix GmbH<br />
Waldemarstrße 33a<br />
10999 Berlin<br />
<br />
Tel +49 (0)69 / 51 73 10 <br />
Fax +49 (0)69 / 51 73 11</b><br />
Email: info@Kubix.de<br />
<br />
Gesch&auml;ftsf&uuml;hrung: Max Mustermann (CEO), Markus Mustermann (COO)<br />
Verantwortlich i. S. v. § 55 Abs. 2 RStV: Martin Mustermann und Carl Mustermann,<br />
<br />
Registergericht M&uuml;nchen HRB 104168<br />
USt.-Ident.Nr. DE 155 289 492<br />
<br />
© Copyright 1996-2015, Kubix GmbH, alle Rechte vorbehalten.<br />
Jegliche Vervielf&auml;ltigung oder Weiterverbreitung in jedem Medium als Ganzes oder in Teilen,<br />
bedarf der schriftlichen Zustimmung der Kubix GmbH.<br />
<br />
</p>

Haftung für Inhalte


Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.<br/>

Haftung für Links<br/>

Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.

Urheberrecht<br/>

Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
<br/><br/>
</div>




</div>
</div>
</div>

</template>
