<template name="ueber">
  <div class="container">
  <div class="row">

  <div class="col-lg-12">
              <h2>Über uns </h2>

              <hr>


              <hr>

      <div class="col-md-7 col-lg-7">
              <img class="center-block" src="Logo.png" alt="" />
      </div>

              <p class="col-md-11 blog">
              <p class="">Wir sind ein Team bestehend aus sechs Studenten im Studiengang Umweltinformatik an der

HTW Berlin. Als Teil der Vorlesung „Projektmanagement“ im fünften Semester, war es

unsere Aufgabe für die Firma Kubix GmbH ein Softwaresystem zu entwickeln.</p>
              <p class="">Bei Kubix

handelt es sich um eine Firma, die im Messebau tätig ist und dort täglich mit der

Verschwendung von wiederverwendbaren Ressourcen konfrontiert ist.</p>
              <p class="">Aus diesem Grund

sollte ein System entwickelt werden, dass es erlaubt, bereits verwendete Materialien an

Interessierte Branchenkollegen beziehungsweiße Privatpersonen weiterzugeben. Aus dieser

Idee entstand We Resource, das eine Art Tauschbörse für Messegegenstände darstellt.</p>
              <p class=""><b></b>
      </p></p>




</div>
</div>
</div>

</template>
