<template name="profil">
    <div class="container">
      <div class="row">
        <div class="oberklsse">
          <div class="col-md-4  toppad  pull-right col-md-offset-3 ">
                <A class="edit">Bearbeiten</A>
           <br>
          </div>

 {{#with profil}}
 <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">{{username}}</h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-3 col-lg-3 " align="center"> <img alt="" src="" class="img-circle img-responsive"> </div>
                  <div class=" col-md-9 col-lg-9 ">
                    <table class="table table-user-information">
                      <tbody>
                        <tr>
                          <td>Vor und Nachname:</td>
                          <td>{{profile.vorname}}   {{profile.nachname}}</td>
                        </tr>
                        <tr>
                          <td>Email:</td>
                          <td>{{email}}</td>
                        </tr>
                        
                        {{#if firmenkunde}}
                        <tr><td><h1>Firmendaten:</h1></td></tr>
                        <tr>
                          <td>Name der Firma:</td>
                          <td>{{#with firma}}{{name}}{{/with}}</td>
                        </tr>
                        <tr>
                          <td>Stra&szlig;e und Hausnummer</td>
                          <td>{{#with firma}}{{strasse}}  {{nummer}}{{/with}}</td>
                        </tr>
                          <tr>
                          <td>PLZ,Stadt</td>
                          <td>{{#with firma}}{{plz}}  {{ort}}{{/with}}</td>
                        </tr>
                        <tr>
                          <td>Land</td>
                          <td>Deutschland</td>
                        </tr>
                        {{/if}}
            <!-- <p>Email: {{email}}</p>
            <p>Vorname: {{profile.vorname}}</p>
            <p>Nachname: {{profile.nachname}}</p>
            <p>Firma: {{profile.firma}}</p> -->

          </tbody>
        </table>
        </div>
        </div>
        </div>
          </div>
        </div>
            {{/with}}

        </div>
    </div>
</div>
    <!-- <div class="containerZwei">
          <div class="row">
          <div class="col-md-4  toppad  pull-right col-md-offset-3 ">
               <A href="">Bearbeiten</A>
           <br>
          </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Hans Muster</h3>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-3 col-lg-3 " align="center"> <img alt="" src="" class="img-circle img-responsive"> </div>
                    <div class=" col-md-9 col-lg-9 ">
                      <table class="table table-user-information">
                        <tbody>
                          <tr>
                            <td>Vor und Nachname:</td>
                            <td>Hans Muster</td>
                          </tr>
                          <tr>
                            <td>Name der Firma:</td>
                            <td>Hans & co </td>
                          </tr>
                          <tr>
                            <td>Telefonnummer</td>
                            <td>030/726382241</td>
                          </tr>
                             <tr>
                                 <tr>
                            <td>Stra&szlig;e und Hausnummer</td>
                            <td>Herderstr.72</td>
                          </tr>
                            <tr>
                            <td>PLZ,Stadt</td>
                            <td>182738 Berlin</td>
                          </tr>
                          <tr>
                            <td>Land</td>
                            <td>Deutschland</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
</template>
