<!-- <template name="artikel">
  <div id='searchresult'>
<div id="search-meta">
 {{#if isLoading}}
   searching ...
 {{/if}}
</div>

{{#each getTasks}}
<div class="Task">
 <h4 class="name">
   <a href="{{git}}" target="_blank">
     {{{text}}}</a>
 </h4>
 <div class="tags">
   {{{name}}}
 </div>
</div>
{{/each}}

</div>
</template> -->
