<template name="searchresult2">
  <div id='searchresult2'>
<div id="search-meta">
 {{#if isLoading}}
   suchen ...
 {{/if}}
</div>

{{#each getTags}}
<div class="Tag">

    <div id="auswahlanzeige">
        <label>
            <input type="checkbox" value="1" checked="{{checked}}" class="toggle-checked"><span class="badge">{{count}}<span>{{name}}</span> </span>
        </label>
    </div>
</div>
{{/each}}

</div>
</template>
