/* CSS declarations go here */
/* CSS declarations go here */

a{color: black }
// .be{min-height:200px; }
.body{

  min-height: 500px;


}
.container-fluid{
  padding-left:-15px  !important;
  padding-right:-15px  !important;
}
.s-alert-success.s-alert-effect-genie {
    background: #99FF33;  /* your background color here */
    color: #fff  /* your text color here */
}
.container{margin-top: 4%;}
  #ck-button {
      margin:4px;

      background-color:none !important;
      border-radius:4px;
      border:none !important;
      overflow:auto;
      float:left;
  }

  #ck-button label {
      float:left;
      min-width:4.0em;
  }

  #ck-button label span {
      text-align:center;

      padding: 4px 0px ;
      display:block;
  }

.hintergrund
{

  background: white;
}
  #ck-button label input {
      position:absolute;
      left:-2240px;
  }

  #ck-button input:checked + span {
      background-color:#99FF33 !important;
      color:#fff !important;
  }

    #auswahlanzeige label input {
      position:absolute;
      left:-2240px;
  }
    #auswahlanzeige {
      margin:4px;

      background-color:none !important;
      border-radius:4px;
      border:none !important;
      overflow:auto;
      float:left;
  }
  #auswahlanzeige label {
      float:left;
      min-width:4.0em;
  }
  #auswahlanzeige label span {
      text-align:center;

      padding: 4px 0px ;
      display:block;
  }

.oberklsse{
    div label input {
    //  margin-right:100px;
  }

.suchergebnis{padding: 5px;margin: 5px;}

margin-top: 3%;

body {
  font-family: sans-serif;
  background-color: black;

  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}


.logo{background:url(Logo_supi.png) no-repeat;
        width: 30em;
		height:120px;
		width:120px;
		display:block;
		float:left;
		  background-size: 100px;
		}

//
//     input[type=button]{
// 	-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
// 	-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
// 	box-shadow:inset 0px 1px 0px 0px #a4e271;
// 	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
// 	background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
// 	background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
// 	background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
// 	background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
// 	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
// 	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
// 	background-color:#89c403;
// 	-moz-border-radius:6px;
// 	-webkit-border-radius:6px;
// 	border-radius:6px;
// 	border:1px solid #74b807;
// 	display:inline-block;
// 	cursor:pointer;
// 	color:#ffffff;
// 	font-family:Arial;
// 	font-size:15px;
// 	font-weight:bold;
// 	padding:19px ;
// 	text-decoration:none;
// 	text-shadow:0px -1px 0px #528009;
//   margin: 1%;
//   min-width:98%;
// }
// input[type=button]:hover {
// 	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
// 	background:-moz-linear-gradient(top, #77a809 5%, #89c403 100%);
// 	background:-webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
// 	background:-o-linear-gradient(top, #77a809 5%, #89c403 100%);
// 	background:-ms-linear-gradient(top, #77a809 5%, #89c403 100%);
// 	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
// 	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
// 	background-color:#77a809;
// }
// input[type=button]:active {
// 	position:relative;
// 	top:1px;
// }

.container {
  max-width: 40%;
  margin: 0 auto;
  min-height: 100%;
  background: white;

}
 .bild{

  width:260px;
  height: 260px;
}
.tg{display:inline-block;}
.link{cursor:pointer;width: 59%;
height: 6%;background-color: red;}
.kopf{
width:40%;
  position: fixed;
z-index: 2;
}
header {

  background:linear-gradient(#3a3a3a,#222222);

min-height:50px;
  padding: 0px 15px 15px 15px;
  position: relative;
}
.uno{
  position:sticky;
  float:left;
border:1px solid #74b807;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:15px;
font-weight:bold;
padding:19px ;
text-decoration:none;
text-shadow:0px -1px 0px #528009;
min-width:40%;}
.duo{
  position: sticky;
border:1px solid #74b807;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:15px;
font-weight:bold;
padding:19px ;
text-decoration:none;
text-shadow:0px -1px 0px #528009;
min-width:40%;}
.button_example{
  z-index: 2;
  padding-top: 3%;
  padding-bottom: 2%;

  text-align: center;
  width:49%;
  max-height: 45px;
border-top-color: #819BCB;
border-right-color: #819BCB;
border-bottom-color: #82D92B;
border-left-color: #819BCB;
border-width: 0px 0px 6px 0px;
border-style: solid;
 -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;font-size:12px;
  font-family:arial, helvetica, sans-serif;
 text-decoration:none; display:inline-block;text-shadow: 0px 0px 0 rgba(0,0,0,0.3);font-weight:bold; color: #000000;
 background-color: #99FF33; background-image: -webkit-gradient(linear, left top, left bottom, from(#99FF33), to(#99FF33));
 background-image: -webkit-linear-gradient(top, #99FF33, #99FF33);
 background-image: -moz-linear-gradient(top, #99FF33, #99FF33);
 background-image: -ms-linear-gradient(top, #99FF33, #99FF33);
 background-image: -o-linear-gradient(top, #99FF33, #99FF33);
 background-image: linear-gradient(to bottom, #99FF33, #99FF33);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#99FF33, endColorstr=#99FF33);
}

.button_example:hover{
 border-top-color: #819BCB;border-right-color: #819BCB;border-bottom-color: #84DB2C;border-left-color: #819BCB;border-width: 0px 0px 6px 0px;border-style: solid;
 background-color: #60BF00; background-image: -webkit-gradient(linear, left top, left bottom, from(#60BF00), to(#80ff00));
 background-image: -webkit-linear-gradient(top, #60BF00, #80ff00);
 background-image: -moz-linear-gradient(top, #60BF00, #80ff00);
 background-image: -ms-linear-gradient(top, #60BF00, #80ff00);
 background-image: -o-linear-gradient(top, #60BF00, #80ff00);
 background-image: linear-gradient(to bottom, #60BF00, #80ff00);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#60BF00, endColorstr=#80ff00);
}
div a
{
display:block;
min-height: 100%;

}
a{color:black !important;}
a:hover{color:#99FF33 !important;}
.padder{
  z-index: 2;
position:fixed;
	margin-top:0px;
width: 40%;
  max-height: 80px;
  background:white;
  border-bottom: 2px solid #c8fb00;
  border-top: 2px solid #c8fb00;
  box-shadow: 0px 5px 5px 0px grey;
  }
#login-buttons {
  margin-top: 10px;
color:white;
  float:right;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  z-index: 0;
	float:clear;

  margin-bottom: 10px;
  position: relative;

}

.new-task input {

	float:clear;
  box-sizing: border-box;
  margin:  10px 0;
  background: transparent;
  border: none;
  // width: 100%;
  // padding-right: 80px;
  font-size: 1em;
  background: white;
}

.edit-task input {

	float:clear;
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.richtig{}


.edit-profil input {

	float:clear;
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}


.new-tag input {

	float:clear;
  box-sizing: border-box;
  padding: 10px 0;
  background: white;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;

}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  margin-top: 5%;
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 3px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {

  border-color: #ddd;
}

header .hide-completed {
  display:block;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {

  }
}
}
