<template name="standard">

  <head>
    <!---Erkennt Umlaute/Sonderzeichn des Textes-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WeResource</title>

    <!---Verlinkung zu externer CSS Datei-->
    <link href="css/own.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <link href="design.css" type="text/css" rel="stylesheet">

  </head>




  <!-- NavBar Neuer Code von hli -->
<div class="body">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>


        <a class="navbar-brand" href="{{pathFor route='Home'}}">
          <img src="Logo_sfrbe.png" />
        </a>
        <p class="navbar-text">
          <span id="green">W</span>e<span id="green">R</span>esource
        </p>
      </div>

      <div  id="nav-main" class="navbar-collapse collapse">
        <ul class="nav navbar-nav  navbar-right">

          <li><a href="{{pathFor route='Home'}}" data-toggle="collapse" data-target=".navbar-collapse.in">Home</a></li>
          <li><a href="{{pathFor route='ueber'}}" data-toggle="collapse" data-target=".navbar-collapse.in">&Uuml;ber uns</a></li>
          <li><a href="{{pathFor route='FAQ'}}" data-toggle="collapse" data-target=".navbar-collapse.in">FAQ</a></li>
          <li><a href="{{pathFor route='resource'}}" data-toggle="collapse" data-target=".navbar-collapse.in">Resource</a></li>
          <li><a href="{{pathFor route='Waste'}}" data-toggle="collapse" data-target=".navbar-collapse.in">Waste</a></li>


          <li class="dropdown">

            <a href="#" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>  {{#if currentUser}}{{Username}} {{/if}}
            <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              {{#if currentUser}}
              <li><a href="#" class="logout" data-toggle="collapse" data-target=".navbar-collapse.in">Logout</a></li>
              <li><a href="{{pathFor 'profil'}}" data-toggle="collapse" data-target=".navbar-collapse.in">Profil</a></li>
              <li><a href="{{pathFor 'myreservations'}}" data-toggle="collapse" data-target=".navbar-collapse.in">Meine Reservierungen</a></li>
                <li><a href="{{pathFor 'eigene'}}" data-toggle="collapse" data-target=".navbar-collapse.in">Meine Artikel</a></li>
              {{else}}
              <li><a href="{{pathFor 'login'}}" data-toggle="collapse" data-target=".navbar-collapse.in">Anmelden</a></li>
              <li><a href="{{pathFor 'register'}}" data-toggle="collapse" data-target=".navbar-collapse.in">Registrieren</a></li>
              {{/if}}
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>








<div class="container-flui">
      {{>yield}}
</div>

</div>
  <footer>

    <style>
      footer span.social:hover {
        background-color: #FF8C52;
        cursor: pointer
      }

      footer span.social {
        font-size: 22px;
        padding: 0px;
      }

      #footer_social a {
        margin-left: 10px;
        padding-top: 4px;
        padding-bottom: -3px;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 0px;
        margin: 3px;
      }
    </style>


    <div style="min-height: 150px; background-color: #222222; color: #eeeeee; padding-top: 30px;">


      <div id="footer_small" style=" vertical-align: middle; background-color: rgb(55, 55, 55); color: #eeeeee; text-align: center">
        <ul style="margin-bottom: 0px; padding: 0px; padding-bottom: 10px;">


          <li><a href="{{pathFor route='Impressum'}}">Impressum</a></li>
          <li><a href="{{pathFor route='Agb'}}">AGB</a></li>
          <li><a href="{{pathFor route='FAQ'}}" data-toggle="collapse" data-target=".navbar-collapse.in">FAQ</a></li>

        </ul>
      </div>
    </div>

    <style>
      #footer_small a {
        color: #eeeeee;
        text-decoration: none;
      }

      #footer_small ul li {
        text-decoration: none;
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
        padding-top: 10px;
        text-align: center;
        font-size: 16px;
        line-height: normal;
        text-transform: uppercase;
      }
    </style>

  </footer>

</template>
