body {
    padding-top: 90px;
    background: url('bilder/wald.jpg') fixed;
    background-size: cover;

}
.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	border: 2px solid #C5D8E1;
	border-radius: 30px;
	opacity: 0.5;
	position: relative;



}
.navbar-brand{
  padding-top: 5px;
  padding-bottom: 5px;
}
#green{
  color: #99FF33;
}

.panel-login>.panel-heading {
	color: black;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
	background-color: #FFFFFF;
	border-radius: 30px;


}
.panel-login>.panel-heading a{
	text-decoration: block;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;

}
.panel-login>.panel-heading a.active{
	color: #99FF33;
	font-size: 18px;

}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));


}
.panel-login input[type="text"]{
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;


}
.panel-machen input:hover,
.panel-machen input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #99FF33;


}
.btn-machen {
	background-color: #99FF33;
	outline: none;
	color: black;
	font-size: 17px;
	height: auto;
	display: inline;
	padding: 10px 0;
	text-transform: uppercase;
	border-color: #99FF33;


}
.btn-machen:hover,
.btn-machen:focus {
	color: black;
	background-color: #99FF33;
	border-color: #99FF33;

}


.btn-laden {
	background-color: #99FF33;
	outline: none;
	color: black;
	font-size: 17px;
	height: auto;

	padding: 10px 0;
	text-transform: uppercase;
	border-color: #99FF33;
}

.btn-laden:hover,
.btn-laden:focus {
	color: black;
	background-color: #99FF33;
	border-color: #99FF33;
}

form-group{ margin-top:0pt;
}
