<template name="resource">
  <div class="container">
<div class="oberklsse">
  <!-- <div style=" margin-top: 0px; margin-bottom: 2px; padding-left: 30px;float:left;"> -->
 <div class="row">
    <div class="col-md-3 well">
      <h4 class="">Suchen</h4>

      <button type="button" class="btnZwei btn-sm btn-block hidden-lg hidden-md"
      data-toggle="collapse" data-target="#demo">
      <span class="caret"></span>
      </button>
      <br>
<div id="demo" class="collapse in">
      {{> searchbox }}
      {{> searchresult}}
      <!-- <button type="button" class="btnZwei btn-sm btn-block hidden-lg hidden-md"
      data-toggle="collapse" data-target="#demo">
      <span class="caret"></span>
      </button> -->
        <hr>

        <div class="list-group list-group">
          <h4 class="">Tags</h4>
        {{#each tags}} {{> sorttag}} {{/each}}

        <div id="categories" class="collapse">
          <a href="#" class="list-group-item"><span class="badge">14</span></a>
        </div>
        </div>

        <!-- </div> -->

      </div>
      <br>
      <br><br>
      <br>
      <br><br>  
    </div>

    <div class="col-md-9">
      <div class="well hidden-xs">
        <div class="row">
          <div class="col-xs-4">
              <span>Sortieren nach: </span>
            <select class="form-control" id="sort">
              <option value="date+" selected>Neuster Eintrag</option>
              <option value="date-">Bald endend</option>
              <option value="abc+">A-Z</option>
              <option value="abc-">Z-A</option>
            </select>
          </div>

        </div>
      </div>


      {{#each tasks}}
        {{> task}}
      {{/each}}

      </div>

    </div>
  </div>
</div>
</template>
