<template name="Home">

    <div class="col-md-12" style="text-align:center;">

        <h3>
        <span>Willkommen bei WeResource !</span>
        </h3>

        <h4>
      Als Teil unserer Community haben Sie zugriff auf eine umfangreiche Vielzahl von Produkten aus der Event- und Industriebranche.
      <p>Hier findet jeder garantiert das, was er sucht. Au&szlig;erdem handelt es sich bei unseren Produkten um wiederverwendete Sachg&uuml;ter, damit auch ein Teil zur Umwelt beigetragen wird.</p>
      {{#unless currentUser}}
        <li><a href="{{pathFor 'login'}}">Anmelden</a></li>
        <li><a href="{{pathFor 'register'}}">Registrieren</a></li>
        <p>Nicht lange suchen, jetzt anmelden und finden !</p>
      {{/unless}}
      </h4>
    </div>
    <div class="richtig"></div>
    <div class="row" style="text-align:center;margin-right:0px;margin-left:0px;margin-top:30px; height: 180px; padding-bottom: 40px; width:100%; background-repeat: no-repeat; background-size: cover; background-position: center; max-height:540px;  background-image: url('bilder/holz.jpg')">
        <!--Nur uf strtseite muss noch geändert werden

  -->

        <div class="col-md-12" style="margin-top: 80px;width:100%">
            <a style="margin-bottom: 7%;min-width:120px;color:black;" class="btn btn-lg btn-waste" href="{{pathFor  'Waste'}}">
                <button type="button" class="btn">
                    Waste
                </button>
            </a>
            <a style="margin-bottom: 7%; min-width:120px;color:black;" class="btn btn-lg btn-waste" href="{{pathFor 'resource'}}">
                <button type="button" class="btn">
                    Resource
                </button>
            </a>
        </div>
        <!-- <div class="padder">
    <a class="button_example" href="{{pathFor 'Waste'}}">Waste</a>
    <a class="button_example" href="{{pathFor 'resource'}}">Resource</a>
  </div> -->
        <div class="rahmen2">
            <div>


            </div>
        </div>
    </div>





    <!-- tagansicht: -->
    <div class="oberklsse">
        <div id="tags" style="min-height:80px;clear:left; background:linear-gradient(to bottom,#3c3c3c 0,#222 100%); color: #eeeeee; margin-top: 0px; margin-bottom: 2px; padding-left: 30px;">
            <div class="row" style="margin-left:15px;margin-right:15px;">
                <div id="demo" class="collapse in">
<h3 style=" text-align:center">Aktuelle Trends der Community </h3>
                    <div class="list-group list-group">

                        {{#each tags}} {{> tag}} {{/each}}

                        <div id="categories" class="collapse">
                            <a href="#" class="list-group-item"><span class="badge">14</span></a>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="rand">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            </ol>
            <!-- Wraper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <a href="#" style=" color:black">
                        <center><img src="Lampen.jpg" alt="First slide" height="250" width="400" />
                            <h3 class="title">Es erwarten sie täglich neue Angebote!</h3></center>
                    </a>

                </div>


                {{#each tasks}} {{> foto}} {{/each}}

            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</template>
