<!--<template name="edit">
        {{#with edit}}
        <form class="edit-task">
                <input type="text" name="text" placeholder="Titel" value="{{text}}" />
                <input type="text" name="masse" placeholder="Maße" value="{{masse}}" />
                <input type="text" name="info" placeholder="Beschreibung" value="{{info}}" />
                <input type="submit"  value="Änderungen speichern" />
        </form>
        {{/with}}
          <h1><span class="text">Tags:</span> </h1>
        <ul>
                {{#each auswahl}} {{> tag}} {{/each}}
        </ul>
        <br>
        <br>
    <div id="demo" class="collapse in">
      {{> searchbox2}}
      {{> searchresult2}}
    </div>

</template>-->

<template name="edit">
    {{#with edit}}
    <div class="container">
        <div class="oberklsse">
            <div class="row">
                <form class="col-md-12 edit-task">
                    <h2>Artikel bearbeiten </h2>
                    <hr>
                    <p><span class="glyphicon glyphicon-edit"></span></p>
                    <hr>

                    <div class="col-xs-12 col-md-5">
                        <img class="img-responsive foto" src="{{foto}}" id="fotoanzeige" alt="Hier erscheint ihr Foto" />
                        <div id="demo" class="collapse in">
                            {{> searchbox2}} {{> searchresult2}}
                        </div>

                    </div>

                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <input type="text" name="text" id="Name" tabindex="1" class="form-control" placeholder="Titel" value="{{text}}" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="masse" placeholder="Maße" class="form-control" value="{{masse}}"/>
                        </div>
                        <div>
                            {{#each auswahl}} {{> tagadd}} {{/each}}
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="text" name="info" placeholder="Beschreibung" class="form-control" value="{{info}}"/>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-btn">
                    <span class="btn btn btn-file">
                        Datei auswählen <input type="file" id="userimage" multiple="">
                    </span>
                                </span>
                                <input type="text" class="form-control" readonly="">
                            </div>
                        </div>
                        <hr>
                        <input type="submit" value="Daten speichern" class="btn btn-blog pull-right marginBottom10" /> {{> sAlert}}
                    </div>
                </form>
            </div>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
    {{/with}}
</template>