<template name="myreservations">
  <div class="container">
<div class="oberklsse">
 <div class="row">

    <div class="col-md-9">

      <h1>{{#if leer}} Sie haben noch keine Artikel reserviert{{/if}}</h1>
      {{#each reservations}}
        {{> reservationtask}}
      {{/each}}

      </div>
    </div>
  </div>
</div>
</template>
