<template name="sorttag">
    <div id="ck-button">
        <label>
            <input type="checkbox" name="sortierungstag" class="toggle-checked"><span class="badge">{{count}}<span>{{name}}</span> </span>
        </label>
    </div>
</template>
