<template name="task">


  <div class="row">
  <a  class="edit" href="{{pathFor 'view'}}" >  <div class="col-sm-4"><img  src="{{Phkey}}" alt="Hier fehlt ein Foto" class="img-responsive">
    </div></a>
    <div class="col-sm-8">
      <a class="edit" href="{{pathFor 'view'}}"><h3 class="title edit">{{text}}</h3>  </a>
      <p class="text-muted"><span class="glyphicon glyphicon-calendar"></span> Erstelldatum: {{formatDate createdAt}}</p>
      <p class="beschreibung"><br> Maße: {{masse}}cm <br>Beschreibung: {{info}}<br>Tags: {{tagstring}}</p>
  <p class="text-muted">Erstellt von <a class="showowner" href="{{pathFor 'ownerprofil'}}">{{username}}</a></p>

{{#if isOwner}}
<button class="delete">&times;</button>
{{/if}}
    </div>

    <!-- <li class="{{#if checked}}checked{{/if}} {{#if private}}private{{/if}}">
      <button class="delete">&times;</button>

      <input type="checkbox" checked="{{checked}}" class="toggle-checked" /> {{#if isOwner}}
      <button class="toggle-private">
        {{#if private}} Private {{else}} Public {{/if}}
      </button>
      {{/if}}

      <br>

    </li> -->
  </div>
  <br>
  <br>
</template>
