<template name="Waste">
  <div class="container">



    <div class="oberklsse">
      <div class="row">
        <form class="col-md-12 new-task">
            <h2>Artikel erstellen </h2>
            <hr>
            <p><span class="glyphicon glyphicon-edit"></span></p>
             <hr>
  {{#unless currentUser}}
<p>Bevor sie die Seite nutzen können müssen Sie sich über die Registerkarte „Registrieren“ zuerst ein Benutzerkonto erstellen. Anschließend können Sie alle Inhalte der Seite nutzen.</p>
<a href="{{pathFor 'login'}}">Anmelden</a>
  <a href="{{pathFor 'register'}}">Registrieren</a>

{{/unless}}
{{#if currentUser}}
{{#unless firmenkunde}}
Um Artikell erstellen zu können müssen sie Mitarbeiter der Branche sein!
{{/unless}}
{{/if}}
  {{#if currentUser}}
  {{#if firmenkunde}}

                      <!--<img class="center-block" src="{{foto}}" alt="Hier erscheint ihr Foto" />-->


            <div class="col-xs-12 col-md-6 col-md-8">
             <img class="img-responsive foto" src="{{foto}}" id="fotoanzeige" alt="Hier erscheint ihr Foto" />
              <div id="demo" class="collapse in">
                {{> searchbox2}} {{> searchresult2}}
              </div>

            </div>


            <!-- <div class="col-xs-6">
              <div class="form-group">
              </div>
            </div> -->

          <div class="col-xs-12 col-md-6">
          <div class="form-group">
            <input type="text" name="text" id="Name" tabindex="1" class="form-control" placeholder="Titel" value="" required>
          </div>
          <div class="form-group">
            <input type="text" name="masse" placeholder="Maße" class="form-control" />
          </div>
          <div>
                  {{#each auswahl}} {{> tagadd}} {{/each}}
                  </div>
                  <br>
          <div class="form-group">
            <textarea type="text" name="info"  placeholder="Beschreibung" class="form-control be" ></textarea>
          </div>

          <div class="form-group">
            <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn btn-file">
                        Datei auswählen <input type="file" id="userimage" multiple="">
                    </span>
                </span>
                <input type="text" class="form-control" readonly="">
            </div>

          </div>
          <hr>
          <div class="col-xs-12 col-sm-12 col-md-offset-8 col-md-4">
          <input type="submit" value="Artikel erstellen" class="btn btn-block marginBottom10" />
           {{> sAlert}}
         </div>
          </div>



      <!-- <input type="text" name="Name" id="Name" tabindex="1" class="form-control" placeholder="Titel" value=""> -->

      <!-- <div id="demo" class="collapse in">
        {{> searchbox2}} {{> searchresult2}}
      </div> -->
      <!--<div class="list-group list-group">
      <h4 class="">Tags</h4>
    {{#each tags}} {{> tag}} {{/each}}

    <div id="categories" class="collapse">
      <a href="#" class="list-group-item"><span class="badge">14</span></a>


    </div>
    </div>
    </div>
  <form class="new-tag">
    <input type="text" name="tag" placeholder="Tag" />
    <input type="submit" value="Tag hinzufügen!" />
  </form>-->

  <!-- <input type="button" name="takePhoto" class="takePhoto" value="Foto machen">
  <br>
  <br> -->
  <br>
  <br>


          <!--<input type="button" class="btn btn pull-right marginBottom10 Upload" value="Uploaden" action="submit" />-->
  <br>
  <br> {{/if}}{{/if}}  </form>
  </div></div></div>


      <!-- <form id="fotoupload">
        <input type="file" id="userimage" name="userimage" />
      </form>
      <input type="button" class="btn btn-blog pull-right marginBottom10 Upload" value="Uploaden" action="submit" /> -->

<!--<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    </div>
  </div> {{/if}}-->


</template>



<!--<template name="takePhoto">
  <p>
    <input type="button" class="btn btn-blog pull-right marginBottom10 capture" value="Take Photo">
  </p>
  <p><img src="{{photo}}"></p>

</template>-->
