<template name="searchbox2">
  <form class="new-tag">
    <input type="text" id="searchbox2" name="tag" class="suche form-control" placeholder="suche und erstelle Tags">
    <input type="submit" class="form-control" value="Tag hinzufügen!" />
  </form>
</template>
