<template name="login">
    <div class="container">
        <div class="oberklsse">
          <div class="row">
          <div class="col-md-offset-4 col-md-4">
                      <fieldset class ="rahmen">
                          <p class="form-title">Anmelden</p>

            <form class="login">
                Email/Benutzername: <input type="text" name="email" placeholder="E-mail oder Benutzername">
                Passwort: <input type="password" name="password" placeholder="Passwort">
                <input type="submit" value="Login" class="btn">
                {{> sAlert}}
            </form>
            <!-- <p class="text-right">
            <a href="file:///C:/Users/HP/Desktop/Softwareprojekt/Softwareprojekt/Passwort%20vergessen.html" data-toggle="tab">Passwort vergessen?</a>
            </p> -->


          </fieldset>
</div>
</div>
        </div>
    </div>




</template>
