<template name="aktivtag">
  <li>
    <button class="delete">&times;</button>
    <!--<input type="checkbox" checked="{{checked}}" class="toggle-checked" />-->
    <span class="text"><strong>{{name}}</strong>-Klickzahl: {{count}}</span>
  </li>
</template>