<template name="searchbox">
  <div class="input-group">
  <input type="text" class="form-control" id="searchbox" placeholder="Artikel suchen">
  <div class="input-group-btn">
    <button class="btn" type="submit"><i class="glyphicon glyphicon-search"></i>
    </button>
  </div>
  </div>
</template>
