<template name="searchresult">
  <div id='searchresult'>
<div id="search-meta">
 {{#if isLoading}}
   suchen ...
 {{/if}}
</div>

{{#each getTasks}}
<div class="edit">

<a class="edit" href="{{pathFor 'view'}}">
<h4 class="edit">     {{{text}}}  </h4></a>

 <div class="tags">
   {{{info}}}
 </div>
</div>
{{/each}}
</div>

</template>
