<template name="reservationtask">


  <div class="row">
    <div class="col-sm-4"><a class="edit" href="{{pathFor 'view'}}"><img  src="{{Phkey}}" alt="" class="img-responsive"></a>
    </div>
    <div class="col-sm-8">
      <h3 class="title">{{text}}</h3>
      <p class="text-muted"><span class="glyphicon glyphicon-calendar"></span> Abholtermin: {{datum}}</p>
      <p class="beschreibung"><br> Maße: {{masse}}cm <br>Beschreibung: {{info}}<br>Tags: {{tagstring}}</p>
  <p class="text-muted">Erstellt von <a class="showowner" href="{{pathFor 'ownerprofil'}}">{{username}}</a></p>

    </div>


      <br>
  </div>
  <a href="{{pathFor 'ownerprofil'}}" >
    <button  class="showowner btn">Kontaktinformation</button>
  </a>
</template>
