<template name="editprofil">
    <div class="container">
        <div class="oberklsse">
          <div class="row">
          <div class="col-md-offset-4 col-md-4">
                      <fieldset class ="rahmen">

            {{#with editprofil}}
            <p class="form-title">Profil bearbeiten</p>
                <form id="edit-profil" class="login">
                    <input type="text" name="username" placeholder="Username" value="{{username}}" />
                    <input type="email" name="email" placeholder="Email" value="{{email}}" />
                    <input type="text" name="vorname" placeholder="Vorname" value="{{profile.vorname}}" />
                    <input type="text" name="nachname" placeholder="Nachname" value="{{profile.nachname}}" />
                    <input type="text" name="firma" placeholder="Firma" value="{{profile.firma}}" />
                    <input type="submit"  value="Änderungen speichern" class="btn"/>
                </form>
                {{#unless clickedPW}}
                    <button type="button" class="editpw btn" id="editpw">Passwort ändern</button>
                {{/unless}}
            {{/with}}
            {{#if clickedPW}}
                <form class="change-password">
                    <p><input type="password" name="oldpw" placeholder="Altes Passwort" /></p>
                    <p><input type="password" name="newpw" placeholder="Neues Passwort" /></p>
                    <p><input type="password" name="newpw2" placeholder="Neues Passwort bestätigen" /></p>
                    <p><input type="submit" value="Passwort speichern" class="btn" /></p>
                </form>
            {{/if}}
          </fieldset>
          </div>
        </div>
        </div>
    </div>







    <!-- <div class="row">
    <div class="col-md-offset-4 col-md-4">
                <fieldset class ="rahmen">
                    <p class="form-title">Anmelden</p>
                    <form class="login">
                    <input type="text" placeholder="Vor und Nachname" required="" />
                    <input type="password" placeholder="Passwort" required="" />
                    <input type="submit" value="Best&auml;tigen" class="btn" />
                    <p class="text-right">
                    <br><a href="file:///C:/Users/HP/Desktop/Softwareprojekt/Softwareprojekt/Passwort%20vergessen.html" data-toggle="tab">Passwort vergessen?</a></br>
                    </p>
                    </form>
                    </fieldset>
    </div>
    </div> -->
</template>
