<template name="view">
  <div class="container" style="margin-top:-30px;">
<div class="oberklsse">
  <div class="row">

<div class="col-lg-12">
        {{#with view}}


                <!-- <img  src="{{Phkey.url}}" alt="" class="img-responsive" /> -->
            <h2>{{text}}</h2>

              <p class="lead">Erstellt von: {{username}}</p>
  <hr>
  <p><span class="glyphicon glyphicon-time"></span> Erstellungsdatum: {{formatDate createdAt}}</p>
  <hr>
  <div class="col-md-7 col-lg-7">
          <img class="center-block" src="{{Phkey}}" alt="" />
  </div>

  <p class="col-md-11 blog"></p>
            <p class="">Maße: {{masse}} cm</p>

            <p class="">Bezeichnung: {{info}}</p>

<p class="lead"><b>Tags:<br></b>

        {{#each tags}} {{> viewtag}} {{/each}}

        </p>
        {{/with}}


        {{#with view}}
            {{#if isOwner}}
                {{#if reserved}}
                    <p><span class="text">Reserviert von: {{reserver}}</span></p>
                {{/if}}
                    {{#if reserved}}
                        <button class="toggle-reserved    btn btn-blog pull-right marginBottom10">
                        Reservierung aufheben
                        </button>
                    {{else}}
                        <button class="toggle-private   btn btn-blog pull-right marginBottom10">
                        {{#if private}}
                            Artikel freigeben
                        {{else}}
                            Artikel verbergen
                        {{/if}}
                        </button>
                    {{/if}}
                <button class="edit btn btn-blog pull-right marginBottom10">Bearbeiten</button>
                {{else}}
                <button class="toggle-reserved  btn btn-blog pull-right marginBottom10 ">
                    {{#if reserved}} Reservierung stornieren {{else}} Artikel reservieren {{/if}}
                </button> <br/> <br/>
                <br/>
                <br/>
            {{/if}}
        {{/with}}

      </div>
    </div>
  </div>
</div>







</template>

<template name="viewtag">

    <span class="text"><strong>{{name}}</strong><br></span>

</template>
