<template name="tag">
  <!-- <li>
    <button class="delete">&times;</button>
    <input type="checkbox" checked="{{checked}}" class="toggle-checked" />
    <span class="text"><strong>{{name}}</strong>-Klickzahl: {{count}}</span>
  </li> -->

      <!--<button class="delete">&times;</button>
      <input type="checkbox" checked="{{checked}}" class="toggle-checked" />
      <a href="#" class="list-group-item"><span class="badge">{{count}}</span>{{name}}</a>-->

    <div id="ck-button">
        {{#if ricky}}
        <button class="delete">&times;</button>
        {{/if}}
        <label>

            <input type="checkbox" value="1" checked="{{checked}}" class="toggle-checked"><span class="badge">{{count}}<span>{{name}}</span> </span>
        </label>
    </div>


</template>
